/* #grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1px;
    margin:8px;
  } */

@media (min-width: 600px) {
    #grid-container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-gap: 1px;
        margin:8px;
    }
}

@media (max-width: 600px) {
    #grid-container {
        display: grid;
        grid-template-areas: "input"
                             "result";
        margin:8px;
    }

    #left-part {
        grid-area: input;
    }

    #right-part {
        grid-area: result;
    }

    .mat-form-field {
        display: block;
    }
}

#itemfield {
    width: 95%;
    height: 300px;
    border-radius: 5px;
}

/* .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(255, 255, 255, 0.87) !important;
} */
