<div id=content>
  <button mat-button (click)="newMail($event, '')" routerLink="new"><mat-icon>create</mat-icon><span i18n="@@mailNew">{{'mailNew' | translate}}</span></button>
  <button mat-button (click)="openDialog()"><mat-icon>delete_forever</mat-icon><span i18n="@@mailDelete">{{'mailDelete' | translate}}</span></button>  
  <div *ngFor="let header of headers$|async">
    <mat-icon [@openClose]="OpenSelectedMail === header.mail_id  ? 'open' : 'closed'" class="arrow-icon">keyboard_arrow_down</mat-icon>              
    <mat-accordion [hideToggle]="false">
      <mat-expansion-panel [disabled]="true" [expanded]="OpenSelectedMail === header.mail_id" (click)="getMailContent($event, header.mail_id, header)">      
        <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
          <div class="header-content">
            <mat-panel-description>
              <mat-checkbox value={{header.mail_id}} (click)="putToTrash($event, header.mail_id, header.labelName)"></mat-checkbox>
              <span id=mail-header>{{header.from.name}} {{header.subject}} {{header.timestamp | date:'M/d/yy, h:mm a'}}</span>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <button mat-button (click)="newMail($event, 'reply', header)" routerLink="new"><mat-icon>reply</mat-icon><span i18n="@@mailReply">{{'mailReply' | translate}}</span></button>
        <button mat-button (click)="newMail($event, 'forward', header)" routerLink="new"><mat-icon>forward</mat-icon><span i18n="@@mailForward">{{'mailForward' | translate}}</span></button>
        <button mat-button (click)="openDialog(header.mail_id, header.labelName)"><mat-icon>delete_forever</mat-icon><span i18n="@@mailDelete">{{'mailDelete' | translate}}</span></button>        
        <div id=mail-content>
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="(moreMail$|async); else elseBlock">
    <button  mat-button id='moreMail' (click)="getNextMail()"><mat-icon>arrow_downward</mat-icon><span i18n="@@mailMoreMails">{{'mailMoreMails' | translate}}</span></button>
  </div>
  <ng-template #elseBlock>
  </ng-template>
</div>
