ul {
  list-style-type:none;
}

li {
  margin-left: 5%;
  /* margin-top: -1.5%; */
  margin-top: -2.5%;
  cursor: pointer;
}

a {
  color:#89C4F4;
}

span:hover {
  background-color: #315d70;
}

a #img-cont{
  margin-top: 2%;
}

#cross-honz {
  background: black;
  /* display: inline; */
  height: 2px;
  position: relative;
  width: 10px;
  /* left: 4px; */
  right: 14px;
  top: 9px;
}

#cross-vert {
  background: black;
  /* display: inline; */
  content: "";
  height: 10px;
  /* left: 8px; */
  right: 10px;
  position: relative;
  top: 15px;
  width: 2px;
}
